@import './src/_variables';
@import './src/_tippy';

.game-container {
  margin-left: 16px;
  margin-right: 16px;
  height: calc(100% - 2vw - 32px);
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #map-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #map {
    border: 3px solid $color-green;
    border-radius: 4px;
    position: relative;
    min-width: 600px;
    min-height: 425px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .step {
    height: 50px;
    width: 50px;
    background-color: $color-gray;
    color: $color-whitish;
    border: 1px solid $color-green;
    cursor: default;
    border-radius: 3px;
  }

  #game-root {
    height: 50px;
    width: 50px;
    background-color: $color-gray;
    color: $color-whitish;
    border: 1px solid $color-green;
    cursor: default;
    border-radius: 3px;
  }
}
