@import './src/_variables';

.about-container {
  margin-left: 16px;
  margin-right: 16px;

  .row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  h3 {
    margin-top: calc(1.3vw + 10px);
    margin-bottom: 0;
  }

  h3 a {
    text-decoration: none;
    color: $color-green;
  }
}
