html {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
  width: calc(100% - 32px);
}

body {
  margin: 0;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background-color: #333;
  color: #f2f2f2;
}

.u-size-large {
  font-size: calc(1.3vw + 17px);
}

.u-size-medium {
  font-size: calc(1.3vw + 10px);
}

.u-size-small {
  font-size: calc(1.3vw + 5px);
}

.u-font-bold {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h3 {
  margin-top: calc(1.3vw + 10px);
  margin-bottom: 0;
}

h3 a {
  text-decoration: none;
  color: #4CAF50;
}