$color-whitish: #f2f2f2;
$color-white: #fff;
$color-white-warm: #ddd;
$color-gray: #333;
$color-green: #4caf50;
$color-black: #000;
$color-red: #e77777;
$font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
