@import '_utils';

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-h3 {
  margin-top: calc(1.3vw + 10px);
  margin-bottom: 0;
  a {
    text-decoration: none;
    color: $color-green;
  }
}
