@import '_utils';
@import '_tippy';

.tutorial-container {
  margin-top: calc(1.3vw + 10px);
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.how {
  border: 1px solid $color-whitish;
  border-radius: 3px;
  display: inline-block;
  cursor: default;
}

.hoverme {
  margin-left: 3px;
  color: $color-green;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  border: 3px solid $color-green;
  border-radius: 4px;
  position: relative;
  min-width: 700px;
  min-height: 700px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.step {
  height: 50px;
  width: 50px;
  background-color: $color-gray;
  color: $color-whitish;
  border: 1px solid $color-green;
  cursor: default;
  border-radius: 3px;
}

.root {
  height: 50px;
  width: 50px;
  background-color: $color-gray;
  color: $color-whitish;
  border: 1px solid $color-green;
  cursor: default;
  border-radius: 3px;
}
